{% extends "estructura/principal.html" %}

{% block contenido %}
<div class="container my-5">
    <h1 class="mb-4">Perfil del Cliente</h1>

    <!--Datos del usuario-->
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Datos del Cliente</h5>
            <p><strong>Nombre:</strong> {{ cliente.usuario.first_name  |capfirst }}</p>
            <p><strong>Apellido:</strong> {{ cliente.usuario.last_name  |capfirst }}</p>
        </div>
    </div>

    {% if cuentaCliente %}
    <div class="card mt-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Cuenta Bancaria</h5>
            <p><strong>IBAN:</strong> {{ cuentaCliente.ibam }}</p>
            <p><strong>Banco:</strong> {{ cuentaCliente.banco }}</p>
            <p><strong>Moneda:</strong> {{ cuentaCliente.get_moneda_display }}</p>

            <!-- Botón de eliminar cuenta -->

            {% comment %} {% url 'cuenta_delete' cuentaCliente.id %} {% endcomment %}
            <form method="post" action="{% url 'cuenta_delete' cuentaCliente.id %} " class="mt-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    Eliminar Cuenta Bancaria
                </button>
            </form>



            <div class="card-footer d-flex justify-content-between">
                <a href="{% url 'cuentaBancaria_editar' cuentaCliente.id %}" class="btn btn-primary btn-sm">Editar Cuenta Bancaria</a>
            </div>


        </div>
    </div>
    {% else %}
    <div class="mt-4">
        <a href="{% url 'cuenta_create'%}" class="btn btn-primary">
            Agregar Cuenta Bancaria
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}
