{%extends "estructura/principal.html"%}

{%block contenido %}
{% load static %}


<!--====== tienda ======-->
<section class="features-area features-one py-5" style="background-color: #f7f7f7;">
    <div class="container">
       <div class="row justify-content-center mb-4">
          <div class="col-lg-6">
             <div class="text-center">
                <h3 class="display-4">Tienda</h3>
                <p class="text-muted">
                   Tienda que vende cosas.
                </p>
             </div>
          </div>
       </div>
       
       <!-- Features -->
       <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 col-sm-9 mb-4">
             <div class="card text-center p-4 shadow-sm border-0" style="background-color: white;">
                <div class="mb-3">
                   <i class="lni lni-compass display-4" style="color: #007bff;"></i>
                </div>
                <div class="card-body">
                   <h4 class="card-title">Cajas de cambio mas vendida</h4>
                   <p class="card-text text-muted">
                      Más
                   </p>
                   <a href="" class="btn btn-outline-primary rounded-pill">Más</a>
                </div>
             </div>
          </div>
          
          <div class="col-lg-4 col-md-6 col-sm-9 mb-4">
             <div class="card text-center p-4 shadow-sm border-0" style="background-color: white;">
                <div class="mb-3">
                   <i class="lni lni-construction display-4" style="color: #007bff;"></i>
                </div>
                <div class="card-body">
                   <h4 class="card-title">Kit de airbag</h4>
                   <p class="card-text text-muted">
                      Más
                   </p>
                   <a href="javascript:void(0)" class="btn btn-outline-primary rounded-pill">Más</a>
                </div>
             </div>
          </div>
 
          <div class="col-lg-4 col-md-6 col-sm-9 mb-4">
             <div class="card text-center p-4 shadow-sm border-0" style="background-color: white;">
                <div class="mb-3">
                   <i class="lni lni-cup display-4" style="color: #007bff;"></i>
                </div>
                <div class="card-body">
                   <h4 class="card-title">Motores</h4>
                   <p class="card-text text-muted">
                    Más
                   </p>
                   <a href="javascript:void(0)" class="btn btn-outline-primary rounded-pill">Más</a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--====== FEATURE ONE PART ENDS ======-->
 
{%endblock %}
