{% extends "estructura/principal.html" %}

{% block contenido %}

<div class="container my-5">
    <h1 class="mb-4">Detalles de la línea de pedido</h1>

    {% for registro in linea_pedido %}
    <!-- Card para mostrar los detalles -->
    <div class="card h-100 shadow-sm mb-4">
        {% if registro.pieza.imagen %}
            <img src="{{ registro.pieza.imagen.url }}" class="card-img-top" alt="{{ registro.pieza.nombre }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">Línea de pedido</h5>
            <p class="card-text"><strong>Estado del pedido:</strong> {{ registro.pedido.estado }}</p>
            <p class="card-text"><strong>Pieza:</strong> {{ registro.pieza.nombre }}</p>
            <p class="card-text"><strong>Tienda:</strong> {{ registro.tienda.direccion }}</p>
            <p class="card-text"><strong>Precio:</strong> {{ registro.precio }}</p>
            <p class="card-text"><strong>Cantidad:</strong> {{ registro.cantidad }}</p>
        </div>
    </div>
    {% empty %}
    <div class="alert alert-info" role="alert">
        No hay piezas disponibles en este momento.
    </div>
    {% endfor %}
</div>

{% endblock %}
