<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
        <title>Mi biblioteca online</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
       
</head>
<body>
    {% include 'estructura/menu.html'%}

    <div>
        {%block contenido %}
        {%endblock %}
    </div>


    {% include 'estructura/pie.html'%}
    {% bootstrap_javascript %}
</body>
</html>