<div class="card h-100 shadow-sm">
    <div class="card-body">
        <p class="card-text">Nombre de la pieza: {{ registro.pieza.nombre }}</p>
        <p class="card-text">Dirección de la tienda: {{ registro.tienda.direccion }}</p>
        <p class="card-text">Cantidad de piezas: {{ registro.cantidad }}</p>
        <p class="card-text">Precio: {{ registro.precio }}</p>
    </div>
    {% load bootstrap_icons %}

    <!--TODO: DALE COHERENCIA A LOS BOTONES QUE PUEDE MOSTRAR-->
    {% if perms.tienda.change_inventario or perms.tienda.view_producto_tienda %}
    <div class="card-footer d-flex justify-content-between">
        <div>
            <a href="{% url 'editar_Inventario' registro.id %}" class="btn btn-primary btn-sm">Editar</a>
            <form action="{% url 'datosInventario_delete' registro.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <button class="btn btn-danger btn-sm" type="submit" onclick="return eliminar();">
                    <span>{% bs_icon 'trash' %}</span>
                </button>
            </form>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <!--Pasamos el id de la tienda-->
            <a href="{% url 'comprar_inventario' registro.id %}" class="btn btn-success btn-sm">Comprar</a>
        </form>
    </div>
    {% endif %}
</div>
