{% extends "estructura/principal.html" %}

{% block contenido %}
<div class="container my-5">
    <h1 class="mb-4">Perfil del Cliente</h1>

    <!--Datos del usuario-->
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Datos del Cliente</h5>
            <p><strong>Nombre:</strong> {{ cliente.usuario.first_name  |capfirst }}</p>
            <p><strong>Apellido:</strong> {{ cliente.usuario.last_name  |capfirst }}</p>
            <p><strong>Puntos:</strong> {{ cliente.puntos  |capfirst }}</p>
        </div>
    </div>

    <div class="card-footer d-flex justify-content-between">
        <a href="{% url 'ver_detalle_cuentaBancaria_Cliente' cliente.usuario.id  %}" class="btn btn-primary btn-sm">Detalle cuenta bancaria</a>
    </div>
</div>
{% endblock %}
